<script src="//cdn.steemjs.com/lib/latest/steemconnect.min.js"></script>
<script>
  var username = '',
    author = '{{author}}',
    permlink = '{{permlink}}',
    content = {{{content}}};

  steemconnect.init({
    app: 'steemconnect',
    baseURL: 'https://dev.steemconnect.com',
    callbackURL: 'http://localhost:3000/embed/vote?author={{author}}&permlink={{permlink}}&size=small'
  });

  var loginURL = steemconnect.getLoginURL();

  steemconnect.isAuthenticated(function(err, result) {
    username = !err && result.username;
  });

  function vote() {
    if (username) {
      alert(username);
    } else {
      window.location = loginURL;
    }
  }
</script>

<div class="vote">
  <a href="javascript:;" onClick="vote();" class="btn-vote">
    <svg enable-background="new 0 0 33 33" version="1.1" viewBox="0 0 33 33" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Chevron_Up_Circle"><circle cx="16" cy="16" r="15" stroke="#121313" fill="none"></circle><path d="M16.699,11.293c-0.384-0.38-1.044-0.381-1.429,0l-6.999,6.899c-0.394,0.391-0.394,1.024,0,1.414 c0.395,0.391,1.034,0.391,1.429,0l6.285-6.195l6.285,6.196c0.394,0.391,1.034,0.391,1.429,0c0.394-0.391,0.394-1.024,0-1.414 L16.699,11.293z" fill="#121313"></path></g></svg>
  </a>
  <a href="javascript:;" onClick="vote();" class="btn-vote">
    <svg enable-background="new 0 0 33 33" version="1.1" viewBox="0 0 33 33" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Chevron_Up_Circle"><circle cx="16" cy="16" r="15" stroke="#4ba2f2" fill="#4ba2f2"></circle><path d="M16.699,11.293c-0.384-0.38-1.044-0.381-1.429,0l-6.999,6.899c-0.394,0.391-0.394,1.024,0,1.414 c0.395,0.391,1.034,0.391,1.429,0l6.285-6.195l6.285,6.196c0.394,0.391,1.034,0.391,1.429,0c0.394-0.391,0.394-1.024,0-1.414 L16.699,11.293z" fill="#FFFFFF"></path></g></svg>
  </a>
  <span class="count">{{content.net_votes}}</span>
</div>

<style type="text/css">
  * {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
  }

  a {
    text-decoration: none;
  }

  .vote {
    vertical-align: center;
    display: flex;
    flex-direction: row;
    line-height: 20px;
    height: 20px;
  }

  .btn-vote {
    width: 20px;
    height: 20px;
  }

  .count {
    height: 20px;
    margin-left: 4px;
  }
</style>
